*/png/
*/photos
**/photos/**
*/photos/x**
*/photos
.mesa_temp_cache
*.pyc
backup.git/
tmp.json
star
make/run_star_extras.mod
make/run_star_extras.o
make/run_star.extras.smod
make/run_star.o
make/run.o
make/run_star.mod
LOGS/